.shop-form {
  padding: 2rem 0;

  &__upload-box {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  &__upload-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
  }
}
