.app {
  &__navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    // background-color: ${theme.bg.def};
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 100;
  }

  &__content {
    padding: 2rem 2rem 6rem;
  }
}
