.auth {
  padding: 2rem 4rem;

  &__banner {
    min-height: 20rem;
    background-image: url("../../assets/images/register_feature_small.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__submit {
    width: -webkit-fill-available;
    min-height: 38px;
    border-radius: 3px;
    background-color: #3861fb;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;

    &:hover {
      opacity: 0.9;
    }
  }
}
