.auth {
  padding: 1rem;

  &__content {
    padding: 2rem;
  }

  &__banner {
    min-height: 20rem;
    background-image: url("../../assets/images/register_feature_small.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__submit {
    width: -webkit-fill-available;
    min-height: 38px;
    border-radius: 3px;
    background-color: #3861fb;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.auth-swap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 1.4rem;

  &__message {
    margin-right: 0.5rem;
  }
}

.forgot-password {
  text-align: right;
}

.select-option {
  display: flex;
  align-items: center;

  &__label {
    margin-left: 5px;
    text-transform: capitalize;
  }
}
