.settings {
  &__img {
    display: block;
    height: 250px;
    margin: 0 auto;
  }

  .navigation {
    &__item {
      padding: 1rem;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 0.4rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    }

    &__icon {
      display: flex;
      margin-right: 1rem;
      padding: 0.6rem;
    }

    &__text {
      color: black;
    }
  }
}

.language {
  padding: 1.6rem 0;

  &__message {
    margin-bottom: 1.6rem;
  }

  &__item {
    padding: 0.5rem 0;

    &:not(:last-child) {
      border-bottom: 2px solid rgb(235, 235, 235);
    }
  }
}
